/*
 *	Place your custom CSS styles here, they will override all existing styles
 */

body {
  background-image: none;
  background-color: #eee;
}

#sidebar,
#sidebar .inner,
#sidebar h2,
#sidebar h2 span,
#content,
#content .inner,
.breadcrumbs,
.btn-black,
.btn-sm,
.input-sm,
.input-group-addon.input-sm,
.alert,
pre,
pre.prettyprint {
  border-radius: 0;
}

#sidebar .inner,
#content .inner,
.breadcrumbs {
  border: 0;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

